@font-face {
    font-family: 'icomoon';
    src: url('../iconfonts/icomoon.eot');
    src: url('../iconfonts/icomoon.eot') format('embedded-opentype'), url('../iconfonts/icomoon.ttf') format('truetype'), url('../iconfonts/icomoon.woff') format('woff'), url('../iconfonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
    content: "\e900";
}

.icon-open-book:before {
    content: "\e901";
}

.icon-phone-call:before {
    content: "\e902";
}

.icon-question:before {
    content: "\e903";
}

.icon-refresh:before {
    content: "\e904";
}

.icon-review:before {
    content: "\e905";
}

.icon-save-file-option:before {
    content: "\e906";
}

.icon-stopwatch:before {
    content: "\e907";
}

.icon-student:before {
    content: "\e908";
}

.icon-view:before {
    content: "\e909";
}

.icon-vk:before {
    content: "\e90a";
}

.icon-warning-sign:before {
    content: "\e90b";
}

.icon-add-plus-button:before {
    content: "\e90c";
}

.icon-at:before {
    content: "\e90d";
}

.icon-avatar:before {
    content: "\e90e";
}

.icon-back:before {
    content: "\e90f";
}

.icon-blogging:before {
    content: "\e910";
}

.icon-book:before {
    content: "\e911";
}

.icon-calendar:before {
    content: "\e912";
}

.icon-cancel:before {
    content: "\e913";
}

.icon-chat-comment-oval-speech-bubble-with-text-lines:before {
    content: "\e914";
}

.icon-checked:before {
    content: "\e915";
}

.icon-clipboard:before {
    content: "\e916";
}

.icon-coordinates:before {
    content: "\e917";
}

.icon-download:before {
    content: "\e918";
}

.icon-edit-1:before {
    content: "\e919";
}

.icon-edit-list:before {
    content: "\e91a";
}

.icon-envelope:before {
    content: "\e91b";
}

.icon-facebook:before {
    content: "\e91c";
}

.icon-floppy-disk:before {
    content: "\e91d";
}

.icon-instagram:before {
    content: "\e91e";
}

.icon-like-fill:before {
    content: "\e91f";
}

.icon-like:before {
    content: "\e920";
}

.icon-tasks:before {
    content: "\e80e";
}

.icon-google:before {
    content: "\e81e";
}

.icon-telegram:before {
    content: "\e82e";
}

.icon-dislike:before {
    content: "\e83e";
}

.icon-like1:before {
    content: "\e84e";
}

.icon-landing-page:before {
    content: "\e85e";
}